/*简体中文注释*/
div {
    background:transparent url(http://img03.taobaocdn.com/tps/i3/T1MGLiXitqXXblIgEF-297-300.jpg) no-repeat scroll 0 0;
}
code {
    background-image:url(http://img03.taobaocdn.com/tps/i3/T1MGLiXitqXXblIgEF-297-300.jpg);
}
td {
    background-image:url(http://img01.tbcdn.cn/test.jpg);
}
p {
    background-image:url(http://img02.taobaocdn.com/tps/i2/T1uDYiXjlcXXawtCLp-84-35.png);
}
