/*简体中文注释*/
div {
    background:transparent url(test.jpg) no-repeat scroll 0 0;
}
code {
    background-image:url(test.jpg);
}
td {
    background-image:url(http://img01.tbcdn.cn/test.jpg);
}
p {
    background-image:url(test.png);
}
