/*¼òÌåÖÐÎÄ×¢ÊÍ*/
div {
    background:transparent url(http://img01.taobaocdn.com/tps/i1/T1xH2jXhhcXXblIgEF-297-300.jpg) no-repeat scroll 0 0;
}
code {
    background-image:url(http://img01.taobaocdn.com/tps/i1/T1xH2jXhhcXXblIgEF-297-300.jpg);
}
td {
    background-image:url(http://img01.tbcdn.cn/test.jpg);
}
p {
    background-image:url(http://img04.taobaocdn.com/tps/i4/T15Y_jXjRcXXawtCLp-84-35.png);
}
